/* Universal */

body {
    font-family: monospace !important;
    /*background: #212127;
    color: #fff;
    */
}



/* Navigation */

.navbar-inverse {
    background-color: #eee !important;
    border: none !important;
    opacity: .85;
}

nav ul {
    float: right;
    margin-top: 25px;
    margin-right: 35px;
    font-size: 16px;
}

nav li {
    display: inline;
    padding-right: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    }

.glyphicon {
    font-size: 18px;
}

main {
    position: absolute;
    width: 90%;
    margin: 25px;
    margin-top: 85px;
    text-align: center;
}

/* About */ 

.img-circle {
    border-radius: 50%;
    height: 100px;
}

.about {
    padding-top: 10px;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid #e8e8e8;
    font-size: 16px;
}

#sequitor {
    text-align: left;
    font-size: 1.5em;
}


/* Projects */

.projects {
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 20px;
}

.skills, .contact {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #e8e8e8;
}

.portfolio ul {
    float: ;
}

.portfolio li {
    list-style: none;
    padding-bottom: 30px;
}

.port-img {
    height: 250px;
}

#project {
    display: block;
    padding-bottom: 50px;
    border-bottom: none;
}

.individual_proj {
    margin-left: -50px;
}

/* Skills */
.skills {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 50px;
}

#icons {
    font-size: 70px;
}

/* Contact */

.contact {
    font-size: 18px;
}
