/* Universal */

body {
    font-family: sans-serif;
}



/* Navigation */

nav ul {
    float: right;
    margin-top: 25px;
    margin-right: 35px;
}

nav li {
    display: inline;
    padding-right: 20px;
}

a {
    text-decoration: none;
    }

.glyphicon {
    font-size: 20px;
}


main {
    position: absolute;
    width: 90%;
    margin: 25px;
    margin-top: 85px;
    text-align: center;
}

/* About */ 

.img-circle {
    border-radius: 50%;
    height: 100px;
}

.about {
    padding-top: 10px;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid #e8e8e8;
    font-size: 16px;
}

#sequitor {
    text-align: left;
    font-size: 1.5em;
}


/* Projects */

.portfolio, .skills, .contact {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #e8e8e8;
}

.portfolio ul {
    float: ;
}

.portfolio li {
    list-style: none;
    padding-bottom: 30px;
}

.port-img {
    height: 250px;
}

#project {
    display: block;
    padding-bottom: 50px;
}

/* Skills */
.skills {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 50px;
}

#icons {
    font-size: 70px;
}

/* Contact */

.contact {
    font-size: 18px;
}
